@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@463&display=swap");
@import url("https://fonts.cdnfonts.com/css/silka");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100vw;
}

.comparison-grid {
  display: flex;
  height: 90dvh;
  width: 100vw;

  align-items: center;

  padding: 0 4rem;

  // place-content: center;
}

.left-choice,
.right-choice {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 1rem;
  // border: 1px dashed #ccc;
  // border-radius: 8px;

  width: 50%;
  height: 50%;
  margin: 2rem;

  display: grid;
  place-items: center;

  font-family: "SF Mono", monospace;

  transition: all 0.05s ease-in-out;

  cursor: pointer;
}

.left-choice {
  // background-color: #ffd8f5;
  background-color: #d9e8fd;
  color: #181c44;
  box-shadow: 0.75rem 0.75rem 0 0 #f4f4f4;

  margin-right: 4rem;
}

.left-choice:active {
  box-shadow: 0.25rem 0.25rem 0 0 #f4f4f4;
}

.right-choice {
  // background-color: #a7d3e0;
  background-color: #f1e8fd;
  color: #441770;
  box-shadow: 0.75rem 0.75rem 0 0 #f4f4f4;

  margin-left: 4rem;
}

.right-choice:active {
  box-shadow: 0.25rem 0.25rem 0 0 #f4f4f4;
}

.scores-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #f4f4f4;
  padding: 0.75rem;
  border-radius: 8px;

  cursor: pointer;
}

table {
  border-spacing: 4rem 1rem;
}

td {
  font-family: "SF Mono", monospace;
  margin-right: 2rem;
}

th {
  font-family: "SF Mono", monospace;
}

dialog {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 80%;
  height: 85%;
  position: fixed; // Step 1: Position relative to the viewport
  top: 50%; // Step 2: Move to the middle vertically
  left: 50%; // Step 2: Move to the middle horizontally
  transform: translate(-50%, -50%); // Step 3: Center the dialog
}

.progress-container {
  width: 100vw;
  display: grid;
  place-items: center;

  font-family: "SF Mono", monospace;
}
